html{
	font-size: 14px;
}

#head{
	height: 4.5rem;
	background-image: linear-gradient(90deg, #333, #111, #aaa);
}

#head .bg{
	background: url(../images/bg.png) repeat center center;
}

#head .bg button:hover svg{
	animation:  yaobai 2s ease-in-out infinite;
}

@keyframes yaobai{
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(45deg);
	}
	50%{
		transform: rotate(0deg);
	}
	75%{
		transform: rotate(-45deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

#head .navbar-brand span{
	font-size: 1.6rem;
	font-weight: bold;
	margin: 0 0.5rem;
	text-shadow: 4px 2px 4px #ccc;
	animation: move 0.7s linear infinite alternate;
}

#head .navbar-brand span:nth-of-type(1){
	animation-delay:0s;
}

#head .navbar-brand span:nth-of-type(2){
	animation-delay:0.25s;
}

#head .navbar-brand span:nth-of-type(3){
	animation-delay:0.5s;
}

#head .navbar-brand span:nth-of-type(4){
	animation-delay:0.75s;
}

#head .navbar-brand span:nth-of-type(5){
	animation-delay:1s;
}

@keyframes move{
	0%{
		transform: translateY(0);
		text-shadow: 4px 0px 4px #ccc;
	}
	100%{
		transform: translateY(-20px);
		text-shadow: 4px 6px 4px #ccc;
	}
}

#myNav{
	top: 4.5rem;
	left: 0;
	background: linear-gradient( #333, #222, #111);
	z-index: 999;
}

#myNav a{
	color: #ccc;
}

#myNav a:hover{
	color: #fff;
}

.main{
	background: linear-gradient( #333, #222, #111);
}

.leftCon{
	height: calc(100vh - 4.5rem);
	background: url(../images/bg.png) repeat center center;
}

.leftCon nav a{
	width: 180px;
}

.leftCon nav a.active, .leftCon nav a:hover{
	background: rgba(255,255,255,.3);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.righCon{
	background: #ececec;
}


.areaChart,.sexChart{
	width: 500px;
	height: 500px;
	border: 1px red solid;
}




